<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Vagrant at IQSS: {{ page.title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width">
<!--
<meta http-equiv="refresh" content="5">
-->
<link rel="shortcut icon" href="/vagrant-at-iqss/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/master.css" type="text/css">
<link rel="stylesheet" href="/vagrant-at-iqss/master.css" type="text/css">
</head>
<body>
<a href="http://vagrantup.com"><img src="images/vagrant-logo.png" align="right"></a>
<a href="http://iq.harvard.edu"><img src="images/iqss-logo.png" align="right"></a>
<h1>Vagrant at IQSS: {{ page.title }}</h1>
<!--
{% include breadcrumbs.html %}
-->
<hr>
{{ content }}
<hr>
{% include breadcrumbs.html %}
</body>
</html>
